@h4-fontcolor: #666;

body {
  background-color: #EFEFEB;
  .container {
    width: 100%;
    height: 100%;
    // max-height: 1500px;
    font-family: "Arial","Helvetica",sans-serif;
    margin: auto;
    background-color: #EFEFEB;
    // border-bottom: 1px solid grey;
//header    
    .header {
      width: 980px;
      margin: auto;
      height: 75px;
      background-color: #FFFFFF;
      padding-top: 10px;
      border-bottom: 1px solid grey;
      .inside-header {
        width: 100%;
        height: 65px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        .title {
          float: left;
          display: inline-block;
          width: 100px;
          height: 50px;
          margin-right: 20px;
          img {
            width: 100px;
            height: 50px;
          }
        }//title ends here
        .search {
          float: left;
          width: 30%;
          height: 30px;
          .search-field {
            border: 1px solid #d0d0d0;
            border-radius: 3px;
            // background-color: #fcfcfc;
            width: 71%;
            float: left;
            height: 30px;
              input {
                color: #bcbcbc;
              }
          }
          .search-button {
            background-color: #54ACC7;
            // border-radius: 5px;
            position:relative;
            left: -10px;
            border: 1px solid #adc5cf;
            width: 25%;
            height: 34px;
            line-height: 25px;
            text-align: center;
            color: white;
            font-size: 12px;
            float: right;
            border-radius: 3px;
          }
        }//search ends here
        .browse {
          width: 8%;
          height: 30px;
          float: left;
          display: inline-block;
          .browse-button {
            float: left;
            border: 1px solid #adc5cf;
            width: 100%;
            height: 34px;
            line-height: 25px;
            color: white;
            font-size: 12px;
          }
        }//browse ends here
        .icons {
          width: 35%;
          height: 60px;
          float: right;
          display: inline-block;
            .home, .heart, .avatar {
              border-right: 1px solid #DCDCD8;
            }
            .home, .heart, .avatar, .cart {
              float: left;
              padding-right: 5px;
              padding-left: 5px;
              width: 65px;
              text-align: center;
              img {
              width: 25px;
              height: 25px;
              // padding-left: 9px;
              .cart {
                border-right: 0;
              }
            }
              .avatarimg {
              border-radius: 25px;
              }
              p {
                padding-right: 5px;
                font-size: 9px;
                margin-top: 5px;
              }
            }
          }    
      }//inside-header ends here
    }//header ends here

//content    
    .content {
      width: 980px;
      height: 100%;
      margin: auto;
      padding-top: 25px;
      background-color: #EFEFEB;
      .side-bar {
        width: 224px;
        min-height: 1250px;
        float: left;
        margin-right: 28px;
        .results {
          font-size: 13px;
          color: @h4-fontcolor;
          margin-bottom: 6px;
          margin-top: 1px;
          // height: 35px;
        }//results ends here
        .sidebar-options{
          width: 100%;
          // min-height: 1185px;
          border: 1px solid black;
          background-color: #ffffff;
          padding-left: 10px;
          .item-type {
            font-size: 13px;
            line-height: 13px;
            color: @h4-fontcolor;
            padding-bottom: 5px;
            padding-top: 0;
            border-bottom: 1px solid #dfdfdf;
              .radio-buttons {
                  list-style: none;
                  color: #0192B5;
                  margin: 0;
                  padding-left: 0;
                  a {
                    text-decoration: none;
                  }
              }//radio-buttons end here
          }//item-type ends here
          .categories {
            font-size: 13px;
            line-height: 13px;
            color: @h4-fontcolor;
            padding-bottom: 6px;
            border-bottom: 1px solid #dfdfdf;
            margin: 0;
            padding: 0;
              ul {
                list-style: none;
                padding-left: 0;
              .levelone {
                font-weight: 600;
                margin-top: 10px;
                padding-top: 0;
                color: #0192b5;
                line-height: 17px;
                list-style: none;
              }//levelone ends here
              .leveltwo {
                color: #0192b5;
                margin-left: 10px;
                line-height: 17px;
                padding-top: 4px;
                list-style: none;
                margin-left: 10px;
              }//leveltwo ends here
            }
          }//categories ends here
          .price-filter {
            font-size: 13px;
            height: 90px;
            line-height: 13px;
            color: @h4-fontcolor;
            padding-bottom: 6px;
            border-bottom: 1px solid #dfdfdf;
            padding: 3px 0;
            .row{
              display: inline;
              border-bottom: grey;
              .input {
                border: 1px solid #d8d5d2;
                color: #d8d5d2;
                border-radius: 3px;
                background-color: #ffffff;
                width: 50px;
                height: 30px;
                float: left;
                line-height: 30px;
                // text-align: center;
                margin-left: 10px;
              }
              .tofield{
                width: 20px;
                height: 30px;
                line-height: 30px;
                float: left; 
                text-align: center; 
                margin-left: 5px;
                margin-right: -5px;            
              }
              .arrow-btn {
                border: 1px solid #d8d5d2;
                border-radius: 3px;
                // background-color: #ffffff;
                width: 50px;
                height: 30px;
                float: left;
                margin-left: 10px;
                .arrow {
                  width: 0;
                  height: 0;
                  margin: 8px 20px 8px 20px;
                  border-style: solid;
                  border-width: 7.5px 0 7.5px 9px;
                  border-color: transparent transparent transparent #7d7773;
                }  
              }
            }
          }//price-filter ends here
          .color-filter {
            font-size: 13px;
            line-height: 13px;
            color: @h4-fontcolor;
            padding-bottom: 6px;
            border-bottom: 1px solid #dfdfdf;
            padding: 18px 0;
            // display: inline-block;
            .color-content {
                list-style: none;
                display: inline;
                padding: 0;
                .swatch {
                  // position: relative;
                  display:inline-block;
                  width: 15px;
                  height: 15px;
                  margin: 0;
                  border-radius: 3px;
                  padding: 0;
                  border: 1px solid #e2e2e2;
                }
                .red {
                  background-color: red;
                }
                .yellow {
                  background-color: yellow;
                }
                .orange {
                  background-color: orange;
                }
                .green {
                  background-color: green;
                }
                .blue {
                  background-color: blue;
                }
                .purple {
                  background-color: purple;
                }
                .black {
                  background-color: black;
                }
                .white {
                  background-color: white;
                }
              }//color-content ends here
          }//color-filter ends here
          .ordering-options {
            font-size: 13px;
            line-height: 13px;
            color: @h4-fontcolor;
            padding-bottom: 6px;
            border-bottom: 1px solid #dfdfdf;
            padding: 18px 0;
              .checkboxes {
                list-style: none;
                margin: 0;
                padding: 0;
                color: #0192b5;
              }
          }//ordering-options ends here
          .shops-location {
            font-size: 13px;
            line-height: 13px;
            color: @h4-fontcolor;
            padding-bottom: 6px;
            border-bottom: 1px solid #dfdfdf;
            padding: 18px 0;
              .locations {
                list-style: none;
                margin: 0;
                padding: 0;
                color: #0192b5;
                margin-top: 10px;
              }
              .choose_loc {
                color: #0192b5;
                margin-top: 10px;
                a {
                  text-decoration: none;
                  color: #0192b5;
                }
              }
          }//shops-location ends here
          .shipping {
            font-size: 13px;
            line-height: 13px;
            padding-bottom: 6px;
            border-bottom: 1px solid #dfdfdf;
            padding: 18px 0;
            .ship-header {
              color: @h4-fontcolor;
              height: 25px;
              .ships-to {
               width: 90%;
               height: 100%;
               h4 {
                float: left;
                margin: 0; 
               }
              }//ships-to ends here
              .clear {
                float: right;
                width: 50%;
                text-align: right;
                a {
                  text-decoration: none;
                  color: #0192b5;
                }
              } 
            }//ship-header ends here
            .dropdown {
            list-style: none;
            }
          }//shipping ends here
        }//sidebar-options ends here
      }//side-bar ends here

      .items {
        width: 74%;
        height: 1000px;
        float: right;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 7px;
        .search-header {
          height: 30px;
          .keyword {
            float: left;
            margin-left: 28px;
          }
          .sort-by {
            float: right;
            margin-right: 45px;
            span {
              color: #0192b5;
            }
          }
        }//search-header ends here
        .prod-content { 
          width: 728px;
          height: 100%;
          // background-color: grey;
          .products {
              width: 200px;
              height: 190px;
              margin: 10px;
              // margin-bottom: 10px;
              background-color: #F9F9F8;
              float: left;
              padding: 10px;
            .prod-image{
              width: auto;
              height: 135px;
              padding: 5px;
            }
            .title {
              width:210px;
              font-size: .8em;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }//prod title 
            .shop {
              font-size: .8em;
              float: left;
              width: 60%;
            }
            .price {
              font-size: .8em;
              float: right;
              width: 29%;
              color: #78C042;
            }          
          }//products ends here
        }//prod-content
        .footer-one {
          width: 100%;
          height: 100%;
          clear: both;
          background-color: #EFEFEB;
          // .search-results {
          //   width: 100%;
            .related-to {
                font-size: 13px;
                line-height: 13px;
              }
            .related-options {
              height: 75px;
              ul {
                list-style: none;
                display: inline-block; 
                float: left;
                width: 27%;
              }
            }//related-options
            .shop-sug {
              font-size: 13px;
              }//shop.sug
            .pagnums ul {
              text-align: center;
              list-style: none;
              // display: inline-block;
              li {
                padding: 10px;
                display: inline;
              }
            }//pagnums
            .buttons {
              margin-left: 330px;
              .arrow-buttons {
                  border: 1px solid #d8d5d2;
                  border-radius: 25px;
                  // background-color: #ffffff;
                  width: 35px;
                  height: 35px;
                  float: left;
                  margin-left: 10px;
                  background-color: #0192b5;
                  // margin-left: 330px;
                  .arrowleft {
                    width: 0; 
                    height: 0; 
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent; 
                    margin: 8px 15px 8px 11px;

                    border-right: 10px solid #ffffff;
                  }
                   .arrowright {
                   width: 0;
                   height: 0;
                   border-top: 10px solid transparent;
                   border-bottom: 10px solid transparent;
                   border-left: 10px solid #ffffff;
                   margin: 8px 11px 8px 15px;
                  }
                }
              }
          //}//search-results ends here
        }//footer-one
      }//items ends here
    }//content ends here

      // 

  }//container ends here    


  // .footer {
      //   width: 1024px;
      //   margin: auto;
      //   height: auto;
      //   // background-color: #FFFFFF;
      //   .col-one {
      //     float: left;
      //     width: 15%;
      //     border: dashed;
      //     padding: 10px;
      //   }
      //   .col-two {
      //     float: left;
      //     width: 15%;
      //     border: dashed;
      //     padding: 10px;
      //   }
      //   .col-three {
      //     float: left;
      //     width: 15%;
      //     border: dashed;
      //     padding: 10px;
      //   }
      //   .col-four {
      //     float: left;
      //     width: 15%;
      //     border: dashed;
      //     padding: 10px;
      //   }
      // }//footer ends here
}//body